
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 24px; 
}

.header__links-list {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    
}

li {
    list-style: circle;
    text-decoration: underline;
}

li:first-child {
    list-style-type: none;
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 129.11px;
    height: 104.65px;
}




